.cell-container {
  border-radius: 4px;
  background-color: #161616;
  width: 320px;
  color: white;
  cursor: pointer;
  min-width: 300px;
}

.cell-content {
  box-sizing: border-box;
  padding: 10px;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
}

.prices-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  color: #a6a6a6;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.volume-value {
  color: #cccc46;
}

.oddsSection {
  display: flex;
  gap: 5px;
}

.odds1,
.odds2 {
  padding: 5px;
  border-radius: 4px;
  height: 30px;
}

.odds1 {
  background-color: #00b073;
}

.odds2 {
  background-color: #005ea6;
}

@media (max-width: 1366px) {
  .cell-container {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .cell-container {
    width: 500px;
  }
}

