body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 0 10%;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.cells-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
